<div class="container register-form">
  <div class="form">
    <div class="note">
      <p>This is a simpleRegister Form made using Boostrap.</p>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Your Name *" formControlName="login"/>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Your Password *" formControlName="password"/>
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit mt-2">Submit</button>
      </div>
    </form>
  </div>
</div>
