<div class="logo col-sm-1 text-center float-start mx-2" style="height: 70px;">
  <img src="{{URL + '/logoWeb.png'}}" class="w-100 mt-1" routerLink="/">
</div>
<div class=" col-sm-8 float-start" style="height: 70px;">
  <ul class="list-unstyled components h-100">
    <li routerLink="/ban-nha-dat" class="d-inline-block h-25 mt-4 pt-1 px-2 mx-1 text-muted element-li">Bán nhà đất</li>
    <li class="d-inline-block h-25 mt-4 pt-1 px-2 mx-1 text-muted element-li">Cho thuê nhà đất</li>
    <li class="d-inline-block h-25 mt-4 pt-1 px-2 mx-1 text-muted element-li">Dự án</li>
  </ul>
</div>
<div class=" col-sm-2 float-end" style="height: 70px;">
  <ul class="list-unstyled components h-100 float-end">
    <li routerLink="/login" class="d-inline-block h-25 mt-4 pt-1 px-2 mx-1 text-muted element-li">Đăng nhập</li>
  </ul>
</div>
