<div class="col-sm-12" style="margin-top: 70px">
  <div class="mx-auto row col-sm-8">
    <div class="col-sm-12 border-bottom mt-3">
      <h1>Danh sách Bán nhà đất</h1>
    </div>
    <div class="col-sm-8 float-start">
      <div *ngFor="let post of postForm" class="w-100 mt-3" style="height: 200px">
        <div class="h-100 float-start" style="width: 30%">
          <img src="{{URL + '/' + post.value.img}}" style="width: 100%; height: 100%">
        </div>
        <div class="h-100 float-start" style="width: 68%; margin-left: 2%">
          <p style="font-size: 17px; color: #0056b3">{{post.value.post.subject}}</p>
          <p style="font-weight: 500">{{post.value.post.price | customPrice}} VNĐ - {{post.value.post.area}}
            m<sup>2</sup> - {{post.value.post.ward.district._name}}, {{post.value.post.ward.city._name}}</p>
          <p [innerHTML]="post.value.post.description | customDescription"></p>
          <p>{{post.value.post.timeCreate.split('T')[0]}}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 float-start">
      <div class="col-sm-12 border mt-2">
        <span class="col-sm-12 border-bottom d-block p-1 ps-2" style="font-weight: 500">Lọc theo giá</span>
        <ul>
          <li>< 500 triệu</li>
          <li>500 triệu - 1 tỉ</li>
          <li>1 - 2 tỷ</li>
          <li>2 - 3 tỷ</li>
          <li>3 - 5 tỷ</li>
          <li>5 - 7 tỷ</li>
          <li>7 - 10 tỷ</li>
          <li>10 - 20 tỷ</li>
          <li>20 - 30 tỷ</li>
          <li>> 30 tỷ</li>
        </ul>
      </div>
    </div>
  </div>
</div>
