<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first pt-3">
      <h3>SIGN IN</h3>
    </div>

    <!-- Login Form -->
    <form [formGroup]="userForm" (ngSubmit)="submitForm()">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="login">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
